replicaCount: 1

image:
  repository: vaidhraj0622/qr-flask-app
  tag: "20369000440"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80
  targetPort: 8881

ingress:
  enabled: true
  ingressClassName: nginx
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
  hosts:
    - host: qr-flask-app.local
      paths:
        - path: /
          pathType: Prefix

serviceAccount:
  create: false
  name: ""

httpRoute:
  enabled: false

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 3
  targetCPUUtilizationPercentage: 80
