name: CI/CD

on:
  push:
    branches:
      - main
    paths-ignore:
      - 'helm/**'
      - 'k8s/**'
      - 'README.md'

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Run tests
        run: |
          pytest || echo "No tests found"

  docker-push:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - uses: actions/checkout@v4

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: vaidhraj0622/qr-flask-app:${{ github.run_id }}

  update-helm-tag:
    runs-on: ubuntu-latest
    needs: docker-push

    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.TOKEN }}

      - name: Update image tag in values.yaml
        run: |
          sed -i 's/tag:.*/tag: "${{ github.run_id }}"/' helm/python-qr/values.yaml

      - name: Commit and push
        run: |
          git config user.email "ci@github.com"
          git config user.name "GitHub Actions"
          git add helm/python-qr/values.yaml
          git commit -m "Update image tag"
          git push

  deploy:
    runs-on: ubuntu-latest
    needs: update-helm-tag

    steps:
      - uses: actions/checkout@v4

      - name: Set up kubectl
        uses: azure/setup-kubectl@v3
        with:
          version: v1.27.0

      - name: Set up Helm
        uses: azure/setup-helm@v3
        with:
          version: v3.12.0

      - name: Configure kubeconfig
        run: |
          echo "${{ secrets.KUBE_CONFIG_DATA }}" | base64 -d > kubeconfig
          export KUBECONFIG=$PWD/kubeconfig

      - name: Deploy using Helm
        run: |
          helm upgrade --install python-qr helm/python-qr \
            --set image.tag=${{ github.run_id }} \
            --kubeconfig kubeconfig
