  deploy:
    runs-on: ubuntu-latest
    needs: update-newtag-in-helm-chart

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        token: ${{ secrets.TOKEN }}

    - name: Set up kubectl
      uses: azure/setup-kubectl@v3
      with:
        version: 'v1.27.0'   

    - name: Set up Helm
      uses: azure/setup-helm@v3
      with:
        version: 'v3.12.0'   

    - name: Configure Kubeconfig
      run: |
        echo "${{ secrets.KUBE_CONFIG_DATA }}" > kubeconfig
        export KUBECONFIG=$PWD/kubeconfig

    - name: Helm Upgrade/Install
      run: |
        helm upgrade --install python-qr ./helm/python-qr \
          --set image.tag=${{ github.run_id }} \
          --kubeconfig kubeconfig
